/* FONT*/
$first-font:'Roboto',sans-serif;
$scn-font:'Imbue', serif;
/*Color*/
$btn-color:#ff6000;
$foggy-gray:#919191;
$link-color:#c6c6c6;
$menu-bg:#fafafa;
/*Size*/
$finger-size:40px;
$border-radius:5px;
$margin-top:20px;
