/*Rest Css*/
@import "_normalize.scss";
/*Variable*/
@import "_variable.scss";
/*Social-Btn*/
@import "_social.scss";
/*Page*/
@import "header.scss";
@import "content.scss";
@import "footer.scss";
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@100;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $first-font;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.container{
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
}
/*I want to try a different method*/
.space-fix{
    width: 100%;
    height: 25px;
    background-color: $menu-bg;
    position: absolute;
    top: 255px;
    z-index: -1;
}
.right-sticky{
    position: absolute;
    width: 100%;
    height: 200vh;
    .right-sticky-bar{
        width: 40px;
        height: 40px;
        position: sticky;
        left: 100%;
        top: 85%;
        transform: translateX(-120%);
        i{
            font-size: 70px;
            color: $btn-color;
            &:hover{
                color: black;
            }
        }
    }
}
.mr{
    margin-right: 10px;
}
footer{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 70px;
    background: linear-gradient(0deg, rgba(241,241,241,1) 35%, rgba(255,255,255,1) 100%);
    padding: 70px;
    .footer-top{
        width: 100%;
        height: 50%;
        display: flex;
        .footer-top-left{
            width: 25%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-left: 5px;
            h4{
                font-size: 23px;
                margin-bottom: 20px;
            }
            a{
                color:$foggy-gray;
                font-size: 14px;
                padding: 5px;
                margin-bottom: 5px;
            }
        }
        .footer-top-bottom{
            width: 25%;
            height: auto;
            display: flex;
            flex-direction: column;
            h4{
                font-size: 23px;
                margin-bottom: 20px;
            }
            a{
                color:$foggy-gray;
                font-size: 14px;
                padding: 5px;
                margin-bottom: 5px;
            }
        }
        .footer-top-right{
            width: 50%;
            display: flex;
            flex-direction: column;
            h4{
                font-size: 23px;
                margin-bottom: 20px;
            }
            .footer-top-right-links{
                width: 100%;
                display: flex;
                height: auto;
                justify-content: space-between;
            }
            .footer-top-right-left{
                width: 25%;
                display: flex;
                flex-direction: column;
                a{
                    color:$foggy-gray;
                    font-size: 14px;
                    padding: 4px;
                    margin-bottom: 4px;
                }
            }
            .footer-top-right-middle{
                width: 25%;
                display: flex;
                flex-direction: column;
                a{
                    color:$foggy-gray;
                    font-size: 14px;
                    padding: 5px;
                    margin-bottom: 5px;
                }
            }
            .footer-top-right-right{
                width: 25%;
                display: flex;
                flex-direction: column;
                a{
                    color:$foggy-gray;
                    font-size: 14px;
                    padding: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}